@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="/Home/About">about us</a>, or <a href="/Home/Contact">contact us</a>.</p>
</div>
